---
import Layout from '../layouts/Layout.astro';
import ImageAndText from '../components/ImageAndText.astro';
---

<Layout title="About Blog Site">
  <ImageAndText src="./ocean3.jpg">
      <h2>About This Blog</h2>
      <p>This blog is a blog about something. That's the important thing. Or something like that. </p>
      <p>Something is what we do. And that's really something. We've got something special right here. </p>
  </ImageAndText>
</Layout>
<style>
</style>