---
import Layout from '../layouts/Layout.astro';
import ImageAndText from '../components/ImageAndText.astro';
---

<Layout title="Contact Blog Site">
  <ImageAndText src="./ocean3.jpg">
    <h2>Contact Information</h2>
    <address>
    Email: anemail@email.com <br />
    Phone: (123) 456-7890 <br />
    Blog Site <br />
    123 Street <br />
    City, HI 12345
    USA
    </address>
  </ImageAndText>
</Layout>
<style>
  h2 {
    font-size: 1.7rem;
  }
  address {
    font-size: 1.2rem;
  }
</style>